#Col1 {
  float: left;
  width: 100%
}
#num1 {
  height: 200px;
   background: #000;
   font-size: 48px;
   font-style: oblique;
   color: #FFF;
   text-align: center;
   margin-top: 20px;
   margin-left: 5px;
   width: 30%;
  line-height: 200px;
  border:2px solid blue;
  display: inline-block;
}
#num2 {
  height: 200px;
   background: #000;
   font-size: 48px;
   font-style: oblique;
   color: #FFF;
   text-align: center;
   margin-top: 20px;
   margin-left: 5px;
   width: 30%;
  line-height: 200px;
    border:2px solid blue;
    display: inline-block;
}
#num3 {
  height: 200px;
   background: #000;
   font-size: 48px;
   font-style: oblique;
   color: #FFF;
   text-align: center;
   margin-top: 20px;
   margin-left: 5px;
   width: 30%;
  line-height: 200px;
  border:2px solid blue;
display: inline-block;
}
#Col2 {
  float: right;
  width: 100%
}
#num4 {
  height: 200px;
   background: #000;
   font-size: 48px;
   font-style: oblique;
   color: #FFF;
   text-align: center;
   margin-top: 5px;
   margin-left: 5px;
   width: 30%;
  line-height: 200px;
  display: inline-block;
    border:2px solid blue;
}
#num5 {
  height: 200px;
   background: #000;
   font-size: 48px;
   font-style: oblique;
   color: #FFF;
   text-align: center;
   margin-top: 5px;
   margin-left: 5px;
   width: 30%;
  line-height: 200px;
display: inline-block;
  border:2px solid blue;
}
#num6 {
  height: 200px;
   background: #000;
   font-size: 48px;
   font-style: oblique;
   color: #FFF;
   text-align: center;
   margin-top: 5px;
   margin-left: 5px;
   width: 30%;
  line-height: 200px;
display: inline-block;
  border:2px solid blue;
}
#Col3 {
  float: right;
  width: 100%;
}
#num7 {
  height: 200px;
   background: #000;
   font-size: 48px;
   font-style: oblique;
   color: #FFF;
   text-align: center;
   margin-top: 5px;
   margin-left: 5px;
   width: 30%;
  line-height: 200px;
display: inline-block;
  border:2px solid blue;
}
#num8 {
  height: 200px;
   background: #000;
   font-size: 48px;
   font-style: oblique;
   color: #FFF;
   text-align: center;
   margin-top: 5px;
   margin-left: 5px;
   width: 30%;
  line-height: 200px;
display: inline-block;
  border:2px solid blue;
}
#num9 {
  height: 200px;
   background: #000;
   font-size: 48px;
   font-style: oblique;
   color: #FFF;
   text-align: center;
   margin-top: 5px;
   margin-left: 5px;
   width: 30%;
  line-height: 200px;
display: inline-block;
  border:2px solid blue;
}
