.numberBlock {
  height: 200px;
   background: #000;
   font-size: 48px;
   font-style: oblique;
   color: #FFF;
   text-align: center;
   margin-top: 5px;
   margin-left: 5px;
   width: 30%;
  line-height: 200px;
  border:2px solid blue;
  display: inline-block;
};
#Row1{

  width: 100%
}
#Row2 {

  width: 100%
}
#Row3 {

  width: 100%;
}
#gridnumrow{

  width: 100%
}
.highlight {
   background: blue;
   color: red;
}
#MessageBox {
  height: 50px;
  width:92.15%;
  border: 3px solid Black;
  margin-top: 5px;
  margin-left: 25px;
  text-align: center;
  font-size: 25px;
  font-style: oblique;
  line-height: 50px;
  color: white;
  background-color: black;
  border-radius: 5px;
  border: 2px solid Blue;
  }
  .gridnum {
    display: inline-block;
    font-style: oblique;
    font-size: 20px;
  }
  .gridnum2 {
    display: inline-block;
    font-style: oblique;
    font-size: 20px;
    height: 2px;
    width: 31.8%;
    text-align:center;
    /*margin-left: 30px;*/
  }
